.bg-color-squidblue{
    background-color: #1414bf;
    color: white;
}
.bg-color-squidorange{
    background-color: #ff590d;
    color: white;
}

body{
    background-color: gray;
}

.Main-banner{
    /* width: 100%; */
    /* height: 100%; */
}

.mainNavBar{
    color: white !important;
}