@font-face {
    font-family: SplatoonFont;
    src: url(../assets/Splatoon1.otf);
}

.bg-color-squidblue{
    background-color: #1414bf;
    color: white;
}

/* .bg-color-squidorange{
    background-color: #ff590d;
    color: white;
} */

body{
    font-family: 'SplatoonFont';
    background-color: gray;
    background-image: url('../assets/bgsplats.png') !important;
}

.Main-banner{
    /* width: 100%; */
    /* height: 100%; */
}

.text-shadow-blue
{
    text-shadow: 2px 2px blue;
}

.mainNavBar{
    color: white !important;
}

.card-bg
{
    height: 100vh; 
    background-size: cover; 
    background-position: center; 
    background-image: url('../assets/S3_Mode_Tableturf_Battle_Image1_-_Logo.png');
}